<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "layouts/card" %>
    </div>
  </div>
</div>
